@tailwind base;
@tailwind components;
@tailwind utilities;

input[type="text"],
input[type="password"],
input[type="email"],
textarea,
input[type="number"],
input[type="date"],
input[type="tel"] {
  @apply w-full border my-1 py-2 px-3 rounded-xl;
}

button.primary {
  background-color: #ff9900;
  @apply p-2 rounded-xl w-full text-xl text-white;
}

img {
  width: 100%;
  height: 100%;
}
